[mysqld]
user=mysql                            
default-storage-engine=INNODB        
character-set-server=utf8mb4          
collation-server=utf8mb4_general_ci  
default-authentication-plugin=mysql_native_password

max_connections=1000 
max_connect_errors=100 


[mysql]
default-character-set=utf8mb4


[client]
default-character-set=utf8mb4 
